strong {color: #01ffff;}
em {color:2f4f4f;}
body{backgraund:#gray;}

#missao{font-size: 30px;}
#banner{width: 100%;}
p {
	text-align:center;
}

h1
{text-align: center;
border:  10px  solid;
}

#missão{
	   font-size: 30px;}
	   #banner{
	   	    width:100%;}